<div class="container">

<div class="row">
  <div class="col-xs-12">
    <div class="block text-center">
      <a class="navbar-brand inline-block" href="#">
        <%= image_tag("observatory-logo.svg", class: 'center') %>
        <span class="uppercase font-weight600 ls1 t08">Observatory</span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-7">
    <div class="hero-text">
      <h1 class="mb0"><span class="o6 t24">(re)</span>Discover News Radio</h1>
      <p class="subheading mt0">The effortless way to find and listen to podcasts.</p>
      <div class="col-sm-10 pl0">
        <div id="form-wrapper">
          <%= render "form" %>
        </div><!-- /form -->
      </div><!-- /col -->
    </div><!-- /hero-text -->
  </div><!-- /col -->
    <div class="col-sm-4">
    <%= image_tag("observatory-iphone.png", class: 'full-width') %>
  </div><!-- /col -->
</div><!-- /row -->

</div><!-- /container -->

<div class="background-gradient">
  <div class="container">

    <div class="row my4">
      <div class="col-sm-4 my4">
        <div class="text-center">
          <%= image_tag("easy-icon.svg", class: 'my2') %>
        </div>
        <h3 class="">Easy</h3>
        <p class="">Finding, downloading and dealing with podcasts is a hassle. Observatory streams podcasts with no effort. Just sign-up and click play.</p>
      </div><!-- /col -->
      <div class="col-sm-4 my4">
        <div class="text-center">
          <%= image_tag("intelligent-icon.svg", class: 'my2') %>
        </div>
        <h3 class="">Intelligent</h3>
        <p class="">The more you use Observatory, the more it leans what types of podcasts you like. Likes, skips and shares—even things your friends like help discovery.</p>
      </div><!-- /col -->
      <div class="col-sm-4 my4">
        <div class="text-center">
          <%= image_tag("everywhere-icon.svg", class: 'my2') %>
        </div>
        <h3 class="">Everywhere</h3>
        <p class="">On the train, in the car and at work—with iOS, Android and web applications, you can listen to Observatory no matter where you are.</p>
      </div><!-- /col -->
    </div><!-- /row -->

  </div><!-- /container -->
</div><!-- /background -->
